In [35]:
# Assigning a list and a tuple to two variables.
monthsL = ['Jan', 'Feb', 'Mar', 'May']
monthsT = ('Jan', 'Feb', 'Mar', 'May')
print('monthsL:', monthsL, " and monthsT:", monthsT)

monthsL: ['Jan', 'Feb', 'Mar', 'May']  and monthsT: ('Jan', 'Feb', 'Mar', 'May')

In [36]:
## Checking if tuples can be edited.
monthsT.insert(3, 'Apr')

AttributeError: 'tuple' object has no attribute 'insert'

In [38]:
## Converting monthsT into a list so that we can edit it.
monthsT = list(monthsT)
print("monthsT:", monthsT)

monthsT: ['Jan', 'Feb', 'Mar', 'May']

In [39]:
### (a) Inserting string 'Apr' between 'Mar' and 'May' in both containers.
monthsL.insert(3, 'Apr')
monthsT.insert(3, 'Apr')
print('monthsL:', monthsL, " and monthsT:", monthsT)

monthsL: ['Jan', 'Feb', 'Mar', 'Apr', 'May']  and monthsT: ['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [40]:
### (b) Apending the string 'Jun' in both containers.
monthsL.append('Jun')
monthsT.append('Jun')
print('monthsL:', monthsL, " and monthsT:", monthsT)

monthsL: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']  and monthsT: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [41]:
### (c) Popping both containers.
monthsL.pop()
monthsT.pop()
print('monthsL:', monthsL, " and monthsT:", monthsT)

monthsL: ['Jan', 'Feb', 'Mar', 'Apr', 'May']  and monthsT: ['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [42]:
### (d) Removing the second item in both containers.
monthsL.remove('Feb')
monthsT.remove('Feb')
print('monthsL:', monthsL, " and monthsT:", monthsT)

monthsL: ['Jan', 'Mar', 'Apr', 'May']  and monthsT: ['Jan', 'Mar', 'Apr', 'May']

In [43]:
### (e) Reversing the order of items in both containers.
monthsL.reverse()
monthsT.reverse()
print('monthsL:', monthsL, " and monthsT:", monthsT)

monthsL: ['May', 'Apr', 'Mar', 'Jan']  and monthsT: ['May', 'Apr', 'Mar', 'Jan']

In [44]:
### (f) Sorting both containers.
monthsL.sort()
monthsT.sort()
print('monthsL:', monthsL, " and monthsT:", monthsT)

monthsL: ['Apr', 'Jan', 'Mar', 'May']  and monthsT: ['Apr', 'Jan', 'Mar', 'May']

In [45]:
## Reconverting monthsT_list into a tuple.
monthsT = tuple(monthsT)
print('monthsT:', monthsT)

monthsT: ('Apr', 'Jan', 'Mar', 'May')